.container-content {
  background-color: var(--background-color-primary);
}

.container-wrapper {
  max-width: 480px;
  
  @include desktop {
    max-width: 1920px;
    display: flex;
    margin-inline: auto;
    @include flex-column;
  }
}

.container-sidebar {
  padding-left: 34px;
  padding-right: 34px;
}

.container-footer {
  width: 100%;
  background-color: var(--background-color-second);
}
