.main-section {
  @include flex-column;
  margin-top: 60px;

  @include desktop {
    display: grid;
    grid-template-columns: 0.8fr 0.6fr;
    gap: 71px;
    margin-top: 122px;
    margin-left: 375px;
    margin-right: 317px;
    margin-bottom: 118px;
  }
}
