.gallery {
  margin-top: 46px;
  padding-top: 42px;

  @include desktop {
    margin-top: 66px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 21px;
    padding-bottom: 49px;

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
    }
  }

  &__item {
    width: 100%;
    height: 120px;
    background-color: var(--background-color-tertiary);

    &:hover {
      background-color: #071c1f;
      background-image: url("../assets/images/icons/sidebar/on.svg");
    }

    @include desktop {
      width: 91px;
      height: 82px;
    }
  }
}
