.review {
  @include flex-column;
  align-items: center;
  font-family: var(--font-secondary);
  padding-top: 39px;

  &__image {
    width: 100px;
    height: 106px;
    padding-bottom: 10px;

    @include desktop {
      width: 100px;
      height: 110px;
    }
  }

  &__username {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 19px;

    @include desktop {
      font-size: 20px;
    }
  }

  &__position {
    font-size: 14px;
    color: #8c8c8c;
  }

  &__rating {
    @include flex-row;
    padding-top: 10px;
    padding-bottom: 13px;

    &__star {
      @include flex-row;
      gap: 4px;
    }
  }

  &__icon-star {
    background-image: url("../assets/images/icons/review/star.svg");
    width: 12px;
    height: 11px;
  }

  &__description {
    font-size: 15px;
    color: #133344;
    line-height: 1.73;
    text-align: center;

    @include desktop {
      width: 275px;
      height: 78px;
    }
  }

  &__social {
    @include flex-row;
    gap: 12px;
    padding-top: 22px;
    padding-bottom: 39px;

    &__icon-facebook {
      background-image: url("../assets/images/icons/review/facebook.svg");
      width: 10px;
      height: 18px;
    }

    &__icon-twitter {
      background-image: url("../assets/images/icons/review/twitter.svg");
      width: 18px;
      height: 20px;
    }

    &__icon-instagram {
      background-image: url("../assets/images/icons/review/instagram.svg");
      width: 18px;
      height: 18px;
    }

    &__icon-youtube {
      background-image: url("../assets/images/icons/review/youtube.svg");
      width: 18px;
      height: 18px;
    }

    &__icon-pinterset {
      background-image: url("../assets/images/icons/review/pinterset.svg");
      width: 16px;
      height: 18px;
    }
  }
}
