.btn {
  border: none;
  font-family: var(--font-secondary);
  background-color: var(--btn-color-primary);
  @include cursor;

  &:hover {
    background-color: #fd3411;
  }
}

.btn-signIn {
  width: 70px;
  height: 35px;
  color: var(--color-tertiary);
  border-radius: 10px;
  font-family: var(--font-primary);

  @include desktop {
    font-size: 18px;
    width: 131px;
    height: 53px;
  }
}

.btn-populer {
  width: 98px;
  height: 32px;
  background-color: var(--background-color-accent);
  font-family: var(--font-secondary);
  color: var(--color-tertiary);
  font-size: 15px;
  text-transform: uppercase;
}

.btn-post {
  width: 140px;
  height: 48px;
  color: var(--color-tertiary);
  border-radius: 3px;

  @include desktop {
    width: 168px;
    height: 49px;
  }
}

.btn-search {
  width: 61px;
  height: 57px;
  position: absolute;
  right: 22px;
    top: 51px;
  background-color: #ff5722;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
